extends base.pug
include mixins/video

block content
  header
    nav
      ul
        li
          a(href="/videos/upload") Upload video
  ul
    each potato in videos
      +video(potato)
    else
      li Sorry nothing found
