extends ../base

block content
  if errorMessage
    span= errorMessage
  form(method="POST")
    input(placeholder="Old Password", type="password", name="oldPw")
    input(placeholder="New Password", type="password", name="newPw")
    input(
      placeholder="New Password Confirmation",
      type="password",
      name="newPwCf"
    )
    input(value="Change Password", type="submit")
